# Datasets
dataset/
raw/
train/

# Model files
*.h5
*.pkl
*.keras

# Notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Images
*.png
*.jpg
*.jpeg

# Python cache
__pycache__/
*.pyc


# Environment variables
.env